.toolbar {
    background-color: lightgrey;
    width: 100%;
    margin-top: 60px;
    padding-top: 17px;
    height: 50px;
    .tab {
        text-align: center;
        border-right: solid 1px grey;
        color: grey;
    }
    .tab.selected {
        font-weight: 700;
        color: black;
    }
}
.search-bar {
    background-color: #646561;
    height: 35px;
    padding-top: 4px;
    color: white;
}
.narrow {
    height: 15px !important;
}
.add-tutor {
    margin-top: 5px;
}
main.admin {
    margin-top: 0px;
    .left-col {
        border-right: solid 2px #646561;
    }
    
    border-bottom: solid 2px #646561;
}
.filter-form {
    max-height: 250px;
    overflow: scroll;
}
.course-filters {
    border-top: solid 1px lightgray;
}
.tut-profile {
    height: 50px;
    margin-right: 10px;
}
.tut-btn {
    margin-top: -47px;
    padding: 4px 16px;
}
.tut {
    border-bottom: solid 1px lightgrey;
}
.tut-list {
    max-height: 440px;
    overflow: scroll;
}
/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .left-col {
        display: none;
    }
}

.cell {
    padding: 100px 0px 80px 0px;
    text-align: center;
    font-size: 30px;
    background-color: darkgrey;
    margin-bottom: 30px;
    
    .count {
        margin-top: 20px;
        font-size: 20px;
    }
    
}
.plus {
        padding-top: 113px;
        padding-bottom: 114px;
}


.modal-dialog {
    margin-left: 100px !important;
    margin-right: 100px !important;
    width: auto !important;
}

.btn-edit {
    margin-right: 10px;
}

.tut-modal-img {
    height: 150px;
}
