.appntmntCreateBtn {
    line-height: 13px;
    width: 100%;
}

.buttonList {
    list-style-type: none;
}

.appntmntCreateMenu {
    width: 100%;
}

.appntCreation {
    margin-bottom: 10px;
}

.btnText {
    font-size: 12px;
}