.appntmntCreateBtn {
    line-height: 13px;
    width: 100%;
    
}

.buttonList {
    list-style-type: none;
}

.appntmntCreateMenu {
    width: 100%;
}

.appntCreation {
    margin-bottom: 10px;
}

.btnText {
    font-size: 12px;
}

.short {
    width: 120px;
}

.largeCheck {
  font-size:350%; 
}

.smallProfilePic {
    float:left;
    width: 50px;
    height: 50px;
    border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
    margin-right: 4px;
    border-color: black;
}

.right {
    float:right;
}