#headerContainer {
    width: 100%;
}
main {
    padding: 75px 0px 0px 0px;
}
#secondaryContainer {
    background-color: #646561;
    width: 100%;
    background-color: #646561;
    width: 100%;
    .navbar-header .navbar-brand {
        color: rgb(200, 200, 200) !important;
        font-size: 12px !important;
    }
}
.pagination {
    float: right;
    margin: 10px 0px 0px 0px;
}

.left-col {
    border-right: solid 1px lightgrey;    
}