/* line 1, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
#headerContainer {
  width: 100%; }

/* line 4, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
main {
  padding: 75px 0px 0px 0px; }

/* line 7, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
#secondaryContainer {
  background-color: #646561;
  width: 100%;
  background-color: #646561;
  width: 100%; }
  /* line 12, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
  #secondaryContainer .navbar-header .navbar-brand {
    color: #c8c8c8;
    font-size: 12px; }

/* line 18, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
*:focus {
  outline: none !important; }

/* line 22, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
main.container {
  width: 100%;
  padding: 0px;
  margin-top: 125px;
  position: relative; }
  /* line 28, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
  main.container > header {
    display: flex;
    color: #c8c8c8;
    background-color: #505050; }
    /* line 33, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
    main.container > header div {
      flex-grow: 1;
      width: 100px;
      padding: 6px;
      text-align: center; }
      /* line 39, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
      main.container > header div:first-child {
        flex-grow: 0;
        width: 70px; }
  /* line 46, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
  main.container section {
    height: 50px;
    display: flex; }
    /* line 50, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
    main.container section:nth-child(odd) {
      background-color: rgba(180, 180, 180, 0.1); }
    /* line 54, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
    main.container section:nth-child(even) {
      background-color: rgba(180, 180, 180, 0.2); }
    /* line 58, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
    main.container section header {
      width: 70px;
      display: flex;
      padding-right: 5px;
      background-color: rgba(100, 100, 100, 0.9);
      justify-content: flex-end;
      align-items: center;
      color: gainsboro;
      border-right: 2px solid #323232;
      border-bottom: 1px solid #323232; }
    /* line 70, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
    main.container section div {
      flex-grow: 1;
      width: 100px;
      height: 100%;
      border-right: 1px solid #c8c8c8;
      border-bottom: 1px dashed #bebebe;
      padding: 2px; }
      /* line 78, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
      main.container section div span {
        width: 100%;
        height: 100%;
        display: block;
        color: #f0f0f0;
        padding: 5px;
        background-color: #148c78;
        border-radius: 3px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }
  /* line 91, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
  main.container aside {
    position: absolute;
    top: 0;
    right: -220px;
    height: 100%;
    width: 200px;
    color: #b4b4b4;
    background-color: #282828;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    transition: 0.4s right; }
    /* line 102, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
    main.container aside.show {
      right: 0; }
    /* line 106, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
    main.container aside > ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      /* line 112, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
      main.container aside > ul li div {
        padding: 6px 8px;
        background-color: rgba(200, 200, 200, 0.2);
        border-bottom: 1px solid #141414; }
      /* line 118, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
      main.container aside > ul li ul {
        list-style: none;
        padding: 0; }
        /* line 122, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
        main.container aside > ul li ul li {
          padding: 0px 12px;
          background-color: rgba(200, 200, 200, 0.1);
          border-bottom: 1px solid rgba(200, 200, 200, 0.2);
          display: flex;
          align-items: center; }
          /* line 129, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
          main.container aside > ul li ul li:after {
            content: " ";
            clear: both;
            display: block;
            height: 0px;
            opacity: 0; }
          /* line 137, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
          main.container aside > ul li ul li span {
            display: block;
            float: left; }
          /* line 142, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
          main.container aside > ul li ul li .checkbox {
            width: 12px;
            height: 12px;
            background-color: rgba(200, 200, 200, 0.4);
            border-radius: 2px;
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
            margin-right: 8px;
            position: relative; }
            /* line 151, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
            main.container aside > ul li ul li .checkbox .checked {
              display: block;
              position: absolute;
              top: 0;
              left: 0; }

/* line 165, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
.pagination {
  float: right;
  margin: 17px 0px 0px 0px; }
  /* line 169, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
  .pagination li a {
    font-size: 13px;
    padding: 4px 6px;
    background-color: rgba(255, 255, 255, 0.4);
    color: #646464;
    border: 1px solid #646464; }
  /* line 177, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
  .pagination .pagination {
    float: right;
    margin: 17x 0px 0px 0px; }
    /* line 180, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
    .pagination .pagination li a {
      font-size: 13px;
      padding: 4px 6px;
      background-color: rgba(255, 255, 255, 0.4);
      color: #646464;
      border: 1px solid #646464; }
  /* line 188, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
  .pagination .left-col {
    border-right: solid 1px lightgrey; }

/* line 193, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
#tutor-icon {
  height: 100px; }

/* line 197, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
.center {
  text-align: center; }

/* line 201, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
.right-align {
  text-align: right !important; }

/* line 205, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
.apt-info {
  border-left: solid 1px lightgrey; }

/* line 209, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
.tut-details em {
  display: block; }

/* line 213, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
.tut-details {
  padding-left: 15px; }

/* line 217, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
.apt-details {
  padding-left: 0px;
  padding-top: 10px; }
  /* line 221, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
  .apt-details li {
    list-style-type: none;
    font-weight: 700; }

/* line 227, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
.stu-img {
  height: 75px;
  width: 75px;
  float: left; }
  /* line 231, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
  .stu-img img {
    height: inherit;
    width: inherit; }

/* line 237, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
.stu-name {
  display: block; }

/* line 241, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
.form-container {
  margin: 20px 0px 0px 0px; }

/* line 245, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
.file-list {
  list-style-type: none;
  padding-left: 0px; }

/* line 250, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
.toolbarButton {
  background-color: #646561;
  padding-top: 20px;
  padding-bottom: 20px; }

/* line 256, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
.toolbarButton:hover {
  background-color: #8b8b88; }

/* line 260, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
.open .toolbarButton {
  background-color: #8b8b88 !important; }

/* line 264, /Users/joshkennelly/Developer/TutorTrac2/css/template.scss */
.selectedFilter {
  color: #c5c5c3; }

/*# sourceMappingURL=template.css.map */